.footer {
	background: url("/images/img/chalkboard.png") center bottom no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
  left: 0;
  right: 0;
  top: 90%;
  padding: rem(10px) 0;
  display: flex;
  justify-content: center;
  @include phones {
    top: 85%;
    .footer__col {
      margin-bottom: rem(5px);
    }
  }
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 90%;

  @include phones {
    flex-direction: column;
  }
}


.footer__col {
	width: 50%;
  margin-bottom: rem(15px);

  @include tablets {
    margin-bottom: rem(-2px);
  }

	@include phones {
		float: none;
		width: 100%;
		text-align: center;
	}
}

.footer__address {
	color: #fff;
  font-size: rem(14px);
  @include phones {
    font-size: rem(13px);
  }
}

.footer__phone {
	color: $red;
	@include ubuntu(bold);
	text-decoration: none;
  font-size: rem(14px);
}

.footer__col_right {
  text-align: right;
  margin-bottom: 0;

	@include phones {
		text-align: center;
	}
}