.work {
  background: url("/images/img/work-bg.png")center center / cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player__container {
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include phones {
    width: 100%;
  }
}

.player {
  position: relative;
  display: block;
  width: 80%;
  height: 75%;
  @include phones {
    width: 90%;
  }
}

.player__wrapper {
  height: 90%;
  width: 100%;
}

.player__controls {
position: relative;
display: flex;
width: 100%;
height: 10%;
background-color: #3e3e3e;
align-items: center;
justify-content: center;
}

.player__elem {
  width: 100%;
  height: 100%;
  background: #000;
}

.plaeyr__playback {
  position: relative;
  height: 100%;
  width: 60%;
  margin: 0 rem(10px);

  @include tablets {
    width: 50%;
  }

  @include phones {
    width: 40%;
  }
}

.plaeyr__playback:before {
  content: "";
  height: rem(4px);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #626262;
  display: block;
  transform: translateY(-50%);
}

.player__playback-button {
  background: #626262;
  width: rem(12px);
  height: rem(12px);
  border: none;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
}

.player__splash {
  background: url(/images/img/video.png)center center/ cover no-repeat;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.player__splash--hiden {
  display: none;
}

.player__duration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include tablets {
    font-size: rem(14px);
  }
  @include phones {
    font-size: rem(10px);
  }
}

.player__duration-completed {
  color: #626262;
}

.player__duration-estimate {
  color: #626262;
}

.player__start {
  width: 5%;
  height: 100%;
  background: none;
  border: none;
}

.player__start--btn {
  background: url("images/img/Play-gray.png") no-repeat;
  background-position: center;
}

.player__start--btn-change {
  background: url("images/img/pause.png") no-repeat;
  background-position: center;
}

.player__sound {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  margin-left: rem(10px);
}

.sound__icon {
  width: rem(20px);
  height: 60%;
  background: none;
  margin-right: rem(10px);
}

.player__sound-line {
  position: relative;
  display: block;
  width: 60%;
  margin: 0;
}

.player__sound-line:before {
  content: "";
  height: rem(4px);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #626262;
  display: block;
  transform: translateY(-50%);
}

.player__sound-button {
  display: block;
  background: #626262;
  width: rem(12px);
  height: rem(12px);
  border: none;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

